.profile__edit{
	width: 740px;
	margin: 20px 0;
}

.profile__edit_fields{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	margin-bottom: 40px;
}

.profile__edit_field{
	width: 364px;
	height: 48px;
	border-radius: 12px;
}

.profile__change_password{
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 40px;
}